# importing libraries

In [64]:
#### importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### loading data

In [65]:
glassdoor_df=pd.read_csv("glassdoor_jobs_.csv")
df=glassdoor_df.copy()

In [66]:
df.sample(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
908,908,Data Scientist,-1,Position Data Scientist Location Houston Statu...,3.6,"Creative Circle, LLC\n3.6","Houston, TX","Los Angeles, CA",201 to 500 employees,2002,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,"Aquent, 24 Seven Talent"
291,291,Big Data Engineer - Chicago - Future Opportunity,$71K-$129K (Glassdoor est.),ABOUT US\n\nAre you ready to transform an indu...,4.1,Centro\n4.1,"Chicago, IL","Chicago, IL",501 to 1000 employees,2001,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Mediaocean, The Trade Desk, MediaMath"
682,682,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
180,180,BI & Platform Analytics Manager,$85K-$134K (Glassdoor est.),A collective energy and ambition. A place wher...,3.4,Church & Dwight\n3.4,"Ewing, NJ","Ewing, NJ",1001 to 5000 employees,1846,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),-1
583,583,Data Scientist,$81K-$140K (Glassdoor est.),"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
640,640,Data Engineer,$43K-$86K (Glassdoor est.),"Overview:\n\nGuidepoint Data identifies, gathe...",3.2,Guidepoint\n3.2,"New York, NY","New York, NY",501 to 1000 employees,2003,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Coleman Research, AlphaSights, Third Bridge"
883,883,Data Engineer,$79K-$147K (Glassdoor est.),WHO WE ARE\n\nNCSOFTÂ® established in 1997 and ...,3.1,NCSOFT\n3.1,"Aliso Viejo, CA","Seoul, South Korea",1001 to 5000 employees,1997,Company - Public,Video Games,Media,$10+ billion (USD),"Blizzard Entertainment, Riot Games, Electronic..."
280,280,"Front-End, Back-End, Fullstack Developers & Da...",-1,"Job Description\n\nBITS, a CACI Company, offer...",3.5,CACI International\n3.5,"Denver, CO","Arlington, VA",10000+ employees,1962,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),"CSC, ManTech, SAIC"
716,716,Sr. Enterprise Account Exec- Data Science / ML...,-1,Company Overview\n\nH2O.ai is the open source ...,4.3,h2o.ai\n4.3,"New York, NY","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
85,85,Research Scientist,$57K-$118K (Glassdoor est.),Company Overview\n\nImagine if we could match ...,1.9,GNS Healthcare\n1.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2000,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD),-1

In [67]:
df.shape

(956, 15)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [69]:
df.isna().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

###  salary parsing

In [70]:
(df["Salary Estimate"]=="-1").sum()

214

In [71]:
df=df[df["Salary Estimate"]!="-1"]

In [72]:
df["Salary Estimate"].sample(10)

576     $95K-$154K (Glassdoor est.)
194      $43K-$80K (Glassdoor est.)
259      $44K-$78K (Glassdoor est.)
483      $43K-$77K (Glassdoor est.)
743     $61K-$109K (Glassdoor est.)
638     $63K-$127K (Glassdoor est.)
473      $56K-$91K (Glassdoor est.)
107     $72K-$123K (Glassdoor est.)
341     $68K-$112K (Glassdoor est.)
880    $101K-$141K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [73]:
df["Salary Estimate"].sample(30)

224            $100K-$166K (Glassdoor est.)
594              $36K-$62K (Glassdoor est.)
392             $54K-$115K (Glassdoor est.)
425              $35K-$62K (Glassdoor est.)
291             $71K-$129K (Glassdoor est.)
602             $67K-$135K (Glassdoor est.)
0                $53K-$91K (Glassdoor est.)
721              $43K-$77K (Glassdoor est.)
477    Employer Provided Salary:$150K-$160K
403             $95K-$154K (Glassdoor est.)
367             $88K-$162K (Glassdoor est.)
823        $27-$47 Per Hour(Glassdoor est.)
949             $86K-$137K (Glassdoor est.)
924             $96K-$161K (Glassdoor est.)
643             $71K-$124K (Glassdoor est.)
308              $37K-$63K (Glassdoor est.)
803             $58K-$104K (Glassdoor est.)
648            $150K-$238K (Glassdoor est.)
624             $64K-$108K (Glassdoor est.)
583             $81K-$140K (Glassdoor est.)
342              $42K-$74K (Glassdoor est.)
140             $85K-$159K (Glassdoor est.)
156             $72K-$129K (Glassdoor est.)
623            $107K-$173K (Glassdoor est.)
200            $116K-$185K (Glassdoor est.)
539              $65K-$96K (Glassdoor est.)
781             $66K-$123K (Glassdoor est.)
533            $124K-$199K (Glassdoor est.)
652        $24-$39 Per Hour(Glassdoor est.)
86              $83K-$137K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [74]:
df["hourly"]=df["Salary Estimate"].apply(lambda x:1 if "per hour" in x.lower() else 0)

In [75]:
df["employer_provided"]=df["Salary Estimate"].apply(lambda x:1 if "employer provided salary" in x.lower() else 0)

In [76]:
df.sample(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
900,900,Senior Data Scientist Oncology,$107K-$173K (Glassdoor est.),At AstraZeneca we are constantly pushing the b...,3.9,AstraZeneca\n3.9,"Gaithersburg, MD","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Roche, GlaxoSmithKline, Novartis",0,0
691,691,Senior Insurance Data Scientist,$107K-$173K (Glassdoor est.),"What We'll Bring:\n\nAt TransUnion, we have a ...",3.9,TransUnion\n3.9,"Chicago, IL","Chicago, IL",5001 to 10000 employees,1968,Company - Public,Financial Analytics & Research,Finance,$1 to $2 billion (USD),-1,0,0
381,381,Data Scientist,$93K-$149K (Glassdoor est.),"Title: Software Engineer, Data Science\n\nDesi...",3.8,Juniper Networks\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1,0,0
648,648,Principal Data Scientist,$150K-$238K (Glassdoor est.),Position Overview\n\nThe Climate Corporation i...,3.2,The Climate Corporation\n3.2,"San Francisco, CA","San Francisco, CA",501 to 1000 employees,2006,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"Granular, Intuit, John Deere",0,0
861,861,Data Scientist SR,$85K-$139K (Glassdoor est.),"Data Scientist, Senior, Charlottesville, VA\n\...",3.9,The Buffalo Group\n3.9,"Charlottesville, VA","Reston, VA",501 to 1000 employees,2010,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"ManTech, Booz Allen Hamilton, Leidos",0,0
449,449,Senior Data Scientist,$108K-$171K (Glassdoor est.),"The Infrastructure, Architecture, and Tools te...",4.4,MathWorks\n4.4,"Natick, MA","Natick, MA",1001 to 5000 employees,1984,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1,0,0
471,471,IT - Data Engineer II,$61K-$119K (Glassdoor est.),IT - Data Engineer II\n\nThe Data Engineer II ...,3.4,Arbella Insurance\n3.4,"Quincy, MA","Quincy, MA",1001 to 5000 employees,1988,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,0,0
289,289,Senior Scientist - Neuroscience,$100K-$190K (Glassdoor est.),Sunovion Pharmaceuticals is looking for a Seni...,3.5,Sunovion\n3.5,"Marlborough, MA","Marlborough, MA",1001 to 5000 employees,2010,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),"Shire, GlaxoSmithKline, Allergan",0,0
926,926,Scientist - Analytical Services,$65K-$134K (Glassdoor est.),British American Tobacco\nReynolds American In...,3.1,Reynolds American\n3.1,"Winston-Salem, NC","Winston-Salem, NC",5001 to 10000 employees,1875,Company - Private,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0
346,346,Machine Learning Research Scientist,$81K-$159K (Glassdoor est.),Machine Learning researchers at the SEI help o...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0

In [77]:
salary=df["Salary Estimate"].str.split("(").apply(lambda x:x[0].replace("$","").replace("K",""))

In [78]:
salary=salary.apply(lambda x:x.split(":")[1] if len(x.split(":")) >1 else x)

In [79]:
salary=salary.apply(lambda x:x.lower().replace("per hour",""))

In [80]:
df["range-salary"]=salary

In [81]:
df["min_salary"]=salary.apply(lambda x:x.split("-")[0])
df["max_salary"]=salary.apply(lambda x:x.split("-")[1])

In [82]:
df["avg_salary"]=(df["min_salary"].astype('int')+df["max_salary"].astype('int'))/2

In [83]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5

### company name

In [85]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5

In [88]:
df['Company Name']=df['Company Name'].str.split("\n").apply(lambda x:x[0])

In [93]:
pd.set_option("display.max_columns",None)

In [94]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5

#### state field

In [96]:
df["job_state"]=df["Location"].apply(lambda x:x.split(",")[1])

In [97]:
df.job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: job_state, dtype: int64

In [98]:
df["same_state"]=df.apply(lambda x: 1 if  x["Location"]==x["Headquarters"] else 0,axis=1)

#### age of the company

In [99]:
df["age"]=df["Founded"].apply(lambda x:x if x<1 else 2023-x)

In [100]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary,job_state,same_state,age
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0,NM,0,50
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5,MD,0,39
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0,FL,1,13
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5,WA,1,58
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5,NY,1,25

### parsing of job description

In [101]:
df["Job Description"][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelorâs degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelorâs Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three yearsâ experience credit for Masterâs degree; five yearsâ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organizationâs data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

####famous skills of data science:
1. python
2. r studio
3. spark
4. aws
5. excel

In [102]:
df["python_skill"]=df["Job Description"].apply(lambda x:1 if "python" in x.lower() else 0)
df["rstudio_skill"]=df["Job Description"].apply(lambda x:1 if "r studio" in x.lower() else 0)
df["spark_skill"]=df["Job Description"].apply(lambda x:1 if "spark" in x.lower() else 0)
df["aws_skill"]=df["Job Description"].apply(lambda x:1 if "aws" in x.lower() else 0)
df["excel_skill"]=df["Job Description"].apply(lambda x:1 if "excel" in x.lower() else 0)

In [104]:
print("python \n",df.python_skill.value_counts())
print("r studio\n",df.rstudio_skill.value_counts())
print("spark\n",df.spark_skill.value_counts())
print("aws\n",df.aws_skill.value_counts())
print("excel\n",df.excel_skill.value_counts())

python
 1    392
0    350
Name: python_skill, dtype: int64
r studio
 0    741
1      1
Name: rstudio_skill, dtype: int64
spark
 0    575
1    167
Name: spark_skill, dtype: int64
aws
 0    566
1    176
Name: aws_skill, dtype: int64
excel
 1    388
0    354
Name: excel_skill, dtype: int64

In [105]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [106]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary,job_state,same_state,age,python_skill,rstudio_skill,spark_skill,aws_skill,excel_skill
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0,NM,0,50,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5,MD,0,39,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0,FL,1,13,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5,WA,1,58,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5,NY,1,25,1,0,0,0,1

### parsing size

In [115]:
df["Size"].sample(10)

534     1001 to 5000 employees
419    5001 to 10000 employees
320        51 to 200 employees
116     1001 to 5000 employees
517       201 to 500 employees
675           10000+ employees
319        51 to 200 employees
709      501 to 1000 employees
344      501 to 1000 employees
530           10000+ employees
Name: Size, dtype: object

In [116]:
import re

In [128]:
df["size_number"]=df["Size"].apply(lambda x: re.search(r"\d+\sto\s\d+|(\d+)\+",x).group() if re.search(r"\d+\sto\s\d+|(\d+)\+",x) else x)

In [132]:
df["size_number"]=df["size_number"].apply(lambda x:x.replace(r" to ","-"))

In [133]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,range-salary,min_salary,max_salary,avg_salary,job_state,same_state,age,python_skill,rstudio_skill,spark_skill,aws_skill,excel_skill,size_number
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53-91,53,91,72.0,NM,0,50,1,0,0,0,1,501-1000
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63-112,63,112,87.5,MD,0,39,1,0,0,0,0,10000+
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80-90,80,90,85.0,FL,1,13,1,0,1,0,1,501-1000
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56-97,56,97,76.5,WA,1,58,1,0,0,0,0,1001-5000
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86-143,86,143,114.5,NY,1,25,1,0,0,0,1,51-200

In [134]:
df.to_csv("data_cleaned.csv",index=False)