# importing libraries

In [1]:
#### importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### loading data

In [7]:
glassdoor_df=pd.read_csv("glassdoor_jobs_.csv")
df=glassdoor_df.copy()

In [9]:
df.sample(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
710,710,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
608,608,Lead Data Engineer,$190K-$220K(Employer est.),Credit Sesame is bringing cash and credit toge...,4.1,Credit Sesame\n4.1,"Mountain View, CA","Mountain View, CA",51 to 200 employees,2010,Company - Private,Internet,Information Technology,$50 to $100 million (USD),"Credit Karma, LendUp, SoFi"
807,807,Senior Data Engineer,$100K-$173K (Glassdoor est.),Position Title: Senior Data Engineer\n\nPositi...,3.9,Tapjoy\n3.9,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2007,Company - Private,Internet,Information Technology,$10 to $25 million (USD),"FLURRY, Chartboost"
50,50,Associate Data Analyst,$20K-$39K (Glassdoor est.),Intrado is looking for an Associate Data Analy...,3.1,Intrado\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,Company - Private,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),-1
528,528,Senior Scientist - Toxicologist - Product Inte...,$47K-$101K (Glassdoor est.),British American Tobacco\nReynolds American In...,3.1,Reynolds American\n3.1,"Winston-Salem, NC","Winston-Salem, NC",5001 to 10000 employees,1875,Company - Private,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
55,55,"Data Scientist, Office of Data Science",$86K-$143K (Glassdoor est.),Help shape the future of Data Science across L...,3.3,Liberty Mutual Insurance\n3.3,"Boston, MA","Boston, MA",10000+ employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),"Travelers, Allstate, State Farm"
600,600,Data Analyst,$50K-$92K (Glassdoor est.),Data Analyst\n\nCategory\n\nFinance and Accoun...,3.7,CALIBRE Systems\n3.7,"Alexandria, VA","Alexandria, VA",501 to 1000 employees,1989,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"CSC, Booz Allen Hamilton, ManTech"
333,333,Senior Data Scientist,$73K-$124K (Glassdoor est.),The Senior Data Scientist independently develo...,3.3,Plymouth Rock Assurance\n3.3,"Woodbridge, NJ","Boston, MA",1001 to 5000 employees,1982,Company - Private,Insurance Carriers,Insurance,$10 to $25 million (USD),"Arbella Insurance, Safety Insurance"
52,52,College Hire - Data Scientist - Open to Decemb...,$63K-$99K (Glassdoor est.),Description\n\nCaterpillar's legacy of industr...,3.7,Caterpillar\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,Company - Public,Industrial Manufacturing,Manufacturing,$10+ billion (USD),"John Deere, Komatsu, CNH Industrial"
90,90,Data Scientist,$100K-$160K (Glassdoor est.),Are you passionate about providing real impact...,4.5,Johns Hopkins University Applied Physics Labor...,"Laurel, MD","Laurel, MD",5001 to 10000 employees,1942,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),"MIT Lincoln Laboratory, Lockheed Martin, North..."

In [10]:
df.shape

(956, 15)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [12]:
df.isna().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

###  salary parsing

In [24]:
(df["Salary Estimate"]=="-1").sum()

214

In [26]:
df=df[df["Salary Estimate"]!="-1"]

In [33]:
df["Salary Estimate"].sample(10)

694    Employer Provided Salary:$25-$28 Per Hour
856                   $39K-$66K (Glassdoor est.)
463                   $56K-$99K (Glassdoor est.)
413                  $85K-$140K (Glassdoor est.)
243                  $81K-$167K (Glassdoor est.)
721                   $43K-$77K (Glassdoor est.)
556                  $65K-$106K (Glassdoor est.)
73                    $60K-$99K (Glassdoor est.)
758                  $74K-$137K (Glassdoor est.)
39                  $115K-$180K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [34]:
df["Salary Estimate"].sample(30)

784     $65K-$126K (Glassdoor est.)
920      $49K-$97K (Glassdoor est.)
234     $54K-$115K (Glassdoor est.)
442      $42K-$86K (Glassdoor est.)
318    $116K-$194K (Glassdoor est.)
109      $40K-$73K (Glassdoor est.)
631     $55K-$105K (Glassdoor est.)
28       $34K-$61K (Glassdoor est.)
430      $43K-$86K (Glassdoor est.)
604     $80K-$139K (Glassdoor est.)
799    $113K-$182K (Glassdoor est.)
904    $102K-$172K (Glassdoor est.)
476     $68K-$114K (Glassdoor est.)
20      $81K-$130K (Glassdoor est.)
752      $44K-$73K (Glassdoor est.)
89       $37K-$76K (Glassdoor est.)
645     $81K-$167K (Glassdoor est.)
162     $80K-$120K (Glassdoor est.)
191    $110K-$175K (Glassdoor est.)
124    $121K-$193K (Glassdoor est.)
72      $88K-$148K (Glassdoor est.)
829      $49K-$85K (Glassdoor est.)
600      $50K-$92K (Glassdoor est.)
488     $65K-$110K (Glassdoor est.)
230     $90K-$179K (Glassdoor est.)
883     $79K-$147K (Glassdoor est.)
311    $116K-$185K (Glassdoor est.)
355      $42K-$76K (Glassdoor est.)
831     $61K-$123K (Glassdoor est.)
88      $94K-$154K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [37]:
df["hourly"]=df["Salary Estimate"].apply(lambda x:1 if "per hour" in x.lower() else 0)

In [38]:
df["employer_provided"]=df["Salary Estimate"].apply(lambda x:1 if "employer provided salary" in x.lower() else 0)

In [41]:
df.sample(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
507,507,Sr Software Engineer (Data Scientist),$81K-$140K (Glassdoor est.),"Assurant Labs is looking for a thoughtful, ada...",3.4,Assurant\n3.4,"Westlake, OH","New York, NY",10000+ employees,1978,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),"Asurion, SquareTrade, National General Insurance",0,0
608,608,Lead Data Engineer,$190K-$220K(Employer est.),Credit Sesame is bringing cash and credit toge...,4.1,Credit Sesame\n4.1,"Mountain View, CA","Mountain View, CA",51 to 200 employees,2010,Company - Private,Internet,Information Technology,$50 to $100 million (USD),"Credit Karma, LendUp, SoFi",0,0
330,330,Data Scientist,$70K-$122K (Glassdoor est.),"Headquartered in Lynchburg, Va., BWX Technolog...",3.5,BWX Technologies\n3.5,"Oak Ridge, TN","Lynchburg, VA",5001 to 10000 employees,1850,Company - Public,Aerospace & Defense,Aerospace & Defense,$500 million to $1 billion (USD),-1,0,0
828,828,Senior Risk Data Scientist,$107K-$172K (Glassdoor est.),About Bill.com\n\nBill.com is a leading provid...,3.8,Bill.com\n3.8,"Palo Alto, CA","Palo Alto, CA",501 to 1000 employees,2006,Company - Public,Financial Transaction Processing,Finance,$50 to $100 million (USD),-1,0,0
199,199,"Scientist, Analytical Development",$42K-$82K (Glassdoor est.),Rubius Therapeutics is a clinical-stage biopha...,4.4,Rubius Therapeutics\n4.4,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),-1,0,0
848,848,Senior Scientist (Neuroscience),$109K-$200K (Glassdoor est.),Sunovion Pharmaceuticals is looking for a Seni...,3.5,Sunovion\n3.5,"Marlborough, MA","Marlborough, MA",1001 to 5000 employees,2010,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),"Shire, GlaxoSmithKline, Allergan",0,0
212,212,Excel / VBA / SQL Data Analyst,$44K-$78K (Glassdoor est.),Excel / VBA / SQL Data Analyst\n\nLocation:\nH...,4.1,Associated Electric Cooperative\n4.1,"Springfield, MO","Springfield, MO",501 to 1000 employees,1961,Company - Private,Energy,"Oil, Gas, Energy & Utilities",$1 to $2 billion (USD),-1,0,0
30,30,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
750,750,Senior Data Engineer,$97K-$180K (Glassdoor est.),Position Overview: From software hacking to ha...,4.7,Praetorian\n4.7,"Austin, TX","Austin, TX",51 to 200 employees,2010,Company - Private,Security Services,Business Services,$10 to $25 million (USD),-1,0,0
217,217,Radar Data Analyst,$42K-$76K (Glassdoor est.),Decisive Analytics Corporation has an opening ...,4.7,DECISIVE ANALYTICS Corporation\n4.7,"Huntsville, AL","Arlington, VA",51 to 200 employees,1996,Company - Private,Aerospace & Defense,Aerospace & Defense,$25 to $50 million (USD),"Torch Technologies, American Systems",0,0

In [49]:
salary=df["Salary Estimate"].str.split("(").apply(lambda x:x[0].replace("$","").replace("K",""))

In [50]:
salary

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [ ]:
df["min_salary"]=df